<h1>Login Here</h1>
<%= form_for(@myblog) do |f| %>
<div class="field">
    <%= f.label :UseName %><br>
    <%= f.text_field :name %>
  </div>
<div class="actions">
    <%= f.submit %>
  </div>
<% end %>
